<%- include('header'); -%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="font-family: Lato sans-serif;" class="display-4">About Us</h1>
      <p style="font-family: Lato sans-serif; font-size: 2rem; font-weight: 400;" class="lead">Two students from different colleges <br> Mahaveer Choudhary (Integrated M.Sc. Physics, NIT Surat) <br> Harshad Joshi (BE Information Technology, PUNE UNIVERSITY) <br>
With a vision to provide good education for the students of Class XIth and XIIth so that they can build a strong foundation In the subjects like PHYSICS , CHEMISTRY, and MATHEMATICS and can crack the competitive exams like JEE & NEET</p>
    </div>
  </div>



<%- include('footer'); -%>