  <!--footer starts from here-->
  <footer id="footer" class="footer">
    <div class="container bottom_border">
      <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col"style="text-align:center;">
          <h5 style = "color:#fff; font-size: 2rem; margin-top:3rem;">Mail Us</h5>
          <!--headin5_amrc-->
          <a  href="mailto:scithonwithmahaveerchoudhary@gmail.com"><i style = "margin-top:0.5rem; text-align:center; color:#fff;" class="fa fa-2x fa-envelope"></i></a>
        </div>



        <div class=" col-sm-4 col-md  col-12 col" style="text-align:center;">
          <h5 style = "color:#fff; font-size: 2rem; margin-top:3rem;">Follow us</h5>
          <!--headin5_amrc ends here-->

          <ul class="footer_ul2_amrc">
            <li><a href="https://www.youtube.com/channel/UC2akT6_7qrmGZlXgaB-ABoA"><i class="fab fa-2x fa-youtube  padding-right"></i> </a>
            </li>
            <li><a href="#"><i class="fab fa-2x fa-twitter  padding-right"></i> </a>
            </li>
            <li><a href="https://m.facebook.com/Scithon-with-Mahaveer-Choudhary-104258261950145/?_rdr"><i class="fab fa-2x fa-facebook  padding-right"></i> </a>
            
            <li><a href="https://instagram.com/scithonwithmahaveerchoudhary?utm_medium=copy_link"><i class="fab  fa-2x fa-instagram  padding-right"></i> </a>
            </li>
          </ul>
          <!--footer_ul2_amrc ends here-->
        </div>
      </div>
    </div>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center" style="font-size:2rem; margin-top:5rem;">Copyright @Scithon | Made with <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i> by <a href="https://github.com/Harshadjoshi01">Harshad Joshi</a></p>
    </div>

  </footer>



  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 400, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 1000 // values from 0 to 3000, with step 50ms
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>