<% if (message) { %>
    <div style="text-align: center" class="alert alert-<%= message.type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> <%= message.message %></strong>
    </div>
    <% } %>
  
<%- include('header'); -%>
<div class="eleven-heading">
    <p style="margin-top:7rem;">Forget Password</p>
    <hr>
</div>
<div class="forms">
    <form action="/forgetpassword" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control form-control-lg" name="email" placeholder="Your Email">
        </div>
        <button type="submit" class="btn classic-button">Send Reset Password Link</button>
    </form>
</div>
<%- include('footer'); -%>