<%- include('header'); -%>

<form action="/n4v8b2f1h3g7t1y" method="POST" style="padding: 5rem;">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email">Password</label>
        <input type="password" class="form-control" id="email" name="password" placeholder="Password">
    </div>
    <div style="text-align: center" class="form-group">
        <button type="submit" class="btn classic-button">Submit</button>
    </div>
</form>

<%- include('footer'); -%>